#carousel{
    width: 45%;
    height: 0 auto;
    margin-left: 25%;
    margin-top: 5%;
    
}


.navbar{
    background-color: aliceblue;
    position: sticky;
    width: 100%;
}

.columnas{
    background-color: beige;
    padding: 2%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;

}

.Perfumes-card{
    height: 0 auto;
    width: 30%;
    background-color: aliceblue;
    margin-bottom: 5%;
    margin-right: 3.3%;
    display: inline-block;
    padding: 2%;
    

}

.botn{

    text-decoration: white;
      
}

.Gorras-card{
    height: 0 auto;
    width: 30%;
    background-color: aliceblue;
    margin-bottom: 5%;
    margin-right: 3.3%;
    display: inline-block;
    padding: 2%;
}

.zapas-card{
    height: 0 auto;
    width: 30%;
    background-color: aliceblue;
    margin-bottom: 5%;
    display: inline-block;
    padding: 2%;
}




.footer{
    padding: 1.5%;
    background-color: black;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.footer-text{
    font-family: 'Times New Roman', Times, serif;
}


.ft1{
    width: 0 auto;
}

.carousel-inner{
    width: 100%;
    height: auto;
}

.conteiner-fluid{
    padding: 2%;
}

body{
    background-color: dimgrey;
}